{% extends "base_generic.html" %}

{% block content %}
<h1>Проклиникс</h1>

  <p>Добро пожаловать в <em>Проклиникс</em>, сервис с информацией о медицинских учреждениях и врачах.</p>
  <p>Это тестовый сайт для изучения django</p>
  <p>by Menshikov_ve</p>

<h2>Статистика</h2>
  <ul>
    <li><strong>Клиник:</strong> {{ clinics_count }}</li>
    <li><strong>Врачей:</strong> {{ doctors_count }}</li>
  </ul>
<h2>Возможности</h2>
  <ul>
    <li>поиск клиник по услуге</li>
    <li>поиск клиник по городу</li>
    <li>отображение врачей, работающих в клинике (страница клиники)</li>
    <li>отображение клиник, с похожими услугами (страница клиники)</li>
    <li>поиск врача по специальности</li>
    <li>отображение клиник, в которых работает врач (страница врача)</li>
  </ul>

{% endblock %}